#? stdtmpl | standard
#
#proc genMain(c: var TData): string =
# result = ""
<link rel="stylesheet" href="/style.css">
<h1>Hello World</h1>
#end proc
#
#proc genSecret(c: var TData): string =
# result = ""
<h1>Welcome to the secret World</h1>
#end proc