#? stdtmpl | standard
#
#proc genLogin(c: var TData, errorMsg = ""): string =
# result = ""
# if not c.loggedIn:
  <div id="login">
    <form name="login" action="/dologin" method="POST" class="box">
      <h3 style="line-height: 1.9rem;">Login</h3>

      # if errorMsg.len() != 0:
      <div class="notification is-danger" style="text-align: center;font-size: 1.2rem; line-height: 1.8rem;"><b>${errorMsg}</b></div>
      # end if

      <div class="field form-group">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input type="email" class="form-control input is-rounded" name="email" placeholder="Email" minlength="5" dir="auto" required autofocus>
        </div>
      </div>
      <div class="field form-group">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input type="password" class="form-control input is-rounded" name="password" autocomplete="current-password" minlength="4" placeholder="Password" dir="auto" required>
        </div>
      </div>

      <input href="#" type="submit" class="btn btn-custom btn-blue-secondary button is-primary is-fullwidth is-rounded" value="Login" />

    </form>
  </div>

  #else:
  <div class="notification is-danger" style="text-align: center">
    <h1>You are already logged in!</h1>
  </div>
# end if
#end proc